In [1]:
import numpy as np
from sklearn.linear_model import LinearRegression
import pandas as pd

In [2]:
data = pd.read_csv('/Users/mikhail/PycharmProjects/123/data1.csv')

In [3]:
data = data.drop(['6', '7', 'Unnamed: 0'], axis=1)

In [4]:
data.head()

          0         1         2         3         4         5         8
0 -0.007658  1.428055 -0.390741  0.390550  0.008339  0.078810 -3.435079
1 -0.011607  1.436248 -0.400968  0.364114  0.014324  0.119725 -0.367161
2 -0.015622  1.443838 -0.409261  0.337216  0.021968  0.152894 -0.424034
3 -0.019572  1.450827 -0.400981  0.310537  0.027946  0.119571  0.980901
4 -0.023593  1.457217 -0.410000  0.283854  0.035729  0.155666 -0.603542

In [5]:
X = data.loc[:, ['0', '1', '2', '3', '4', '5']]
y = data.loc[:, ['8']]

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [8]:
X_train, X_test, y_train, y_test = list(map(np.array, [X_train, X_test, y_train, y_test]))
reg = LinearRegression().fit(X_train, y_train)

array([-477595.52232114])