Импортируем нужные библиотеки.

In [1]:
import pandas as pd
import xgboost as xgb

Распакуйте архив с данными в папку,где находится этот jupyter notebook (baseline.ipynb). У вас будет папка data,  содержащая необходимые файлы. 

В данном соревновании перед вами ставится задача предсказания категории возраста, к которой принадлежит клиент банка, на основании его транзакций.
В обучающем наборе содержатся информация по транзакциям 30000 клиентов, она находится в файле **transactions_train.csv**. Правильная категория возраста для обучающего набора находится в файле **train_target.csv**.

Считаем данные по транзакциям и правильные ответы.

In [2]:
transactions_train=pd.read_csv('data/transactions_train.csv')

In [3]:
train_target=pd.read_csv('data/train_target.csv')

Посмотрим на данные.

In [4]:
transactions_train.head()

   client_id  trans_date  small_group  amount_rur
0      33172           6            4      71.463
1      33172           6           35      45.017
2      33172           8           11      13.887
3      33172           9           11      15.983
4      33172          10           11      21.341

* client_id - уникальный идентификатор клиента
* trans_date - дата совершения транзакции
* small_group - категория покупки
* amount_rur - сумма транзакции

In [5]:
train_target.head(5)

   client_id  bins
0      24662     2
1       1046     0
2      34089     2
3      34848     1
4      47076     3

* client_id - уникальный идентификатор клиента, соответствует полю client_id из транзакций
* bins - целевая переменная, которую нужно предсказать, это категория возраста клиента

Далее представлен простой вариант решения задачи. Вы можете решать соревнование используя совершенно другой подход.

Посчитаем по каждому клиенту самые простые аггрегационные признаки.

In [6]:
agg_features=transactions_train.groupby('client_id')['amount_rur'].agg(['sum','mean','std','min','max']).reset_index()

In [7]:
agg_features.head()

   client_id        sum       mean         std    min       max
0          4  28404.121  39.450168   73.511624  0.043  1341.802
1          6  15720.739  21.535259   26.200397  0.045   315.781
2          7  53630.036  69.379089  253.261383  0.043  4505.971
3         10  34419.365  48.752642   63.191701  0.045   654.893
4         11  26789.404  32.991877  107.395139  0.388  2105.058

Посчитаем для каждого клиента количество транзакций по каждой категории.

In [8]:
counter_df_train=transactions_train.groupby(['client_id','small_group'])['amount_rur'].count()

In [9]:
cat_counts_train=counter_df_train.reset_index().pivot(index='client_id', \
                                                      columns='small_group',values='amount_rur')

In [10]:
cat_counts_train=cat_counts_train.fillna(0)

In [11]:
cat_counts_train.columns=['small_group_'+str(i) for i in cat_counts_train.columns]

In [12]:
cat_counts_train.head()

,small_group_0,small_group_1,small_group_2,small_group_3,small_group_4,small_group_5,small_group_6,small_group_7,small_group_8,small_group_9,...,small_group_192,small_group_193,small_group_195,small_group_196,small_group_197,small_group_198,small_group_199,small_group_200,small_group_202,small_group_203
client_id,,,,,,,,,,,,,,,,,,,,,
4,0.0,447.0,1.0,44.0,93.0,0.0,0.0,0.0,1.0,13.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2.0,397.0,0.0,172.0,10.0,0.0,0.0,0.0,0.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,2.0,79.0,5.0,27.0,19.0,1.0,0.0,2.0,1.0,39.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,12.0,309.0,1.0,71.0,65.0,0.0,0.0,0.0,3.0,19.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,2.0,423.0,0.0,59.0,23.0,3.0,0.0,0.0,0.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Далее соединим все файлы в один датафрейм с таргетом.

In [13]:
train=pd.merge(train_target,agg_features,on='client_id')

In [14]:
train=pd.merge(train,cat_counts_train.reset_index(),on='client_id')

In [15]:
train.head()

,client_id,bins,sum,mean,std,min,max,small_group_0,small_group_1,small_group_2,...,small_group_192,small_group_193,small_group_195,small_group_196,small_group_197,small_group_198,small_group_199,small_group_200,small_group_202,small_group_203
0,24662,2,30254.011,34.774725,72.037354,0.074,1227.314,0.0,174.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1046,0,42548.570,52.015367,106.540962,0.550,1210.506,1.0,187.0,61.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,34089,2,26842.816,34.325852,59.927450,0.043,782.641,0.0,372.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,34848,1,15773.126,16.160990,14.224936,0.043,109.590,0.0,359.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,47076,3,12488.375,15.929050,35.473591,0.432,541.165,0.0,378.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Теперь подгрузим тестовые данные для того, чтобы сделать предсказание. Проделаем с ними те же самые манипуляции, как и с обучающими данными.

In [16]:
transactions_test=pd.read_csv('data/transactions_test.csv')

test_id=pd.read_csv('data/test.csv')

In [17]:
agg_features_test=transactions_test.groupby('client_id')['amount_rur'].agg(['sum','mean','std','min','max']).reset_index()

In [18]:
agg_features_test.head()

   client_id        sum       mean         std    min       max
0          0  17036.127  19.163247   40.561700  0.065   595.339
1          1  34748.964  47.666617   89.489278  0.298  1181.221
2          2  51188.069  68.433247  152.093601  0.043  2837.682
3          3  47975.203  67.857430  318.651653  0.043  6135.652
4          5  20059.100  21.803370   34.258433  0.043   439.902

In [19]:
counter_df_test=transactions_test.groupby(['client_id','small_group'])['amount_rur'].count()

In [20]:
cat_counts_test=counter_df_test.reset_index().pivot(index='client_id', columns='small_group',values='amount_rur')

In [21]:
cat_counts_test=cat_counts_test.fillna(0)

In [22]:
cat_counts_test.columns=['small_group_'+str(i) for i in cat_counts_test.columns]

In [23]:
cat_counts_test.head()

,small_group_0,small_group_1,small_group_2,small_group_3,small_group_4,small_group_5,small_group_6,small_group_7,small_group_8,small_group_9,...,small_group_192,small_group_193,small_group_194,small_group_195,small_group_196,small_group_197,small_group_198,small_group_200,small_group_201,small_group_202
client_id,,,,,,,,,,,,,,,,,,,,,
0,0.0,226.0,1.0,36.0,9.0,0.0,0.0,0.0,2.0,20.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,30.0,326.0,0.0,40.0,56.0,0.0,0.0,0.0,0.0,60.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,21.0,242.0,1.0,50.0,48.0,4.0,0.0,6.0,1.0,21.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,156.0,83.0,48.0,31.0,2.0,0.0,1.0,2.0,27.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,16.0,398.0,1.0,23.0,25.0,0.0,0.0,0.0,5.0,29.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
test=pd.merge(test_id,agg_features_test,on='client_id')

In [25]:
test=pd.merge(test,cat_counts_test.reset_index(),on='client_id')

В тесте не было некоторых категорий трат, поэтому для того, чтобы обучить модель, нам нужно объединить пространство признаков и train и test.

In [26]:
common_features=list(set(train.columns).intersection(set(test.columns)))

In [27]:
y_train=train['bins']
X_train=train[common_features]
X_test=test[common_features]

In [28]:
import catboost

In [29]:
clf = catboost.CatBoostClassifier(depth=8, iterations=5500)
clf.fit(X_train, y_train)

Learning rate set to 0.009605
0:	learn: 0.6897871	total: 478ms	remaining: 43m 50s
1:	learn: 0.6864275	total: 870ms	remaining: 39m 50s
2:	learn: 0.6830631	total: 1.3s	remaining: 39m 41s
3:	learn: 0.6800144	total: 1.66s	remaining: 37m 56s
4:	learn: 0.6771020	total: 2s	remaining: 36m 43s
5:	learn: 0.6743771	total: 2.36s	remaining: 35m 59s
6:	learn: 0.6713725	total: 2.69s	remaining: 35m 13s
7:	learn: 0.6685800	total: 3.01s	remaining: 34m 28s
8:	learn: 0.6659731	total: 3.32s	remaining: 33m 46s
9:	learn: 0.6634041	total: 3.62s	remaining: 33m 8s
10:	learn: 0.6608327	total: 3.93s	remaining: 32m 39s
11:	learn: 0.6583502	total: 4.22s	remaining: 32m 11s
12:	learn: 0.6558233	total: 4.55s	remaining: 31m 59s
13:	learn: 0.6533128	total: 4.86s	remaining: 31m 45s
14:	learn: 0.6508378	total: 5.18s	remaining: 31m 33s
15:	learn: 0.6486398	total: 5.49s	remaining: 31m 21s
16:	learn: 0.6463423	total: 5.8s	remaining: 31m 9s
17:	learn: 0.6439128	total: 6.08s	remaining: 30m 52s
18:	learn: 0.6417389	total: 6.4s	remaining: 30m 46s
19:	learn: 0.6393475	total: 6.68s	remaining: 30m 29s
20:	learn: 0.6372750	total: 6.99s	remaining: 30m 24s
21:	learn: 0.6352570	total: 7.27s	remaining: 30m 10s
22:	learn: 0.6333530	total: 7.54s	remaining: 29m 56s
23:	learn: 0.6314459	total: 7.83s	remaining: 29m 45s
24:	learn: 0.6293987	total: 8.1s	remaining: 29m 34s
25:	learn: 0.6275060	total: 8.4s	remaining: 29m 28s
26:	learn: 0.6258483	total: 8.78s	remaining: 29m 39s
27:	learn: 0.6237371	total: 9.12s	remaining: 29m 43s
28:	learn: 0.6218601	total: 9.4s	remaining: 29m 34s
29:	learn: 0.6199743	total: 9.69s	remaining: 29m 25s
30:	learn: 0.6182375	total: 10s	remaining: 29m 25s
31:	learn: 0.6164380	total: 10.3s	remaining: 29m 24s
32:	learn: 0.6148742	total: 10.6s	remaining: 29m 17s
33:	learn: 0.6130756	total: 10.9s	remaining: 29m 12s
34:	learn: 0.6115660	total: 11.2s	remaining: 29m 4s
35:	learn: 0.6099157	total: 11.4s	remaining: 28m 58s
36:	learn: 0.6081339	total: 11.7s	remaining: 28m 50s
37:	learn: 0.6063781	total: 12s	remaining: 28m 43s
38:	learn: 0.6049184	total: 12.3s	remaining: 28m 38s
39:	learn: 0.6035225	total: 12.5s	remaining: 28m 31s
40:	learn: 0.6020193	total: 12.8s	remaining: 28m 25s
41:	learn: 0.6004675	total: 13.1s	remaining: 28m 20s
42:	learn: 0.5990190	total: 13.4s	remaining: 28m 17s
43:	learn: 0.5975833	total: 13.7s	remaining: 28m 16s
44:	learn: 0.5962444	total: 14s	remaining: 28m 22s
45:	learn: 0.5948739	total: 14.4s	remaining: 28m 26s
46:	learn: 0.5935982	total: 14.7s	remaining: 28m 28s
47:	learn: 0.5923270	total: 15s	remaining: 28m 26s
48:	learn: 0.5909284	total: 15.4s	remaining: 28m 31s
49:	learn: 0.5896467	total: 15.7s	remaining: 28m 30s
50:	learn: 0.5884404	total: 16s	remaining: 28m 29s
51:	learn: 0.5871428	total: 16.3s	remaining: 28m 31s
52:	learn: 0.5859848	total: 16.6s	remaining: 28m 30s
53:	learn: 0.5849518	total: 17s	remaining: 28m 30s
54:	learn: 0.5837243	total: 17.3s	remaining: 28m 30s
55:	learn: 0.5822838	total: 17.6s	remaining: 28m 30s
56:	learn: 0.5812395	total: 17.9s	remaining: 28m 30s
57:	learn: 0.5802214	total: 18.2s	remaining: 28m 29s
58:	learn: 0.5792331	total: 18.4s	remaining: 28m 19s
59:	learn: 0.5783317	total: 18.8s	remaining: 28m 22s
60:	learn: 0.5772601	total: 19.1s	remaining: 28m 25s
61:	learn: 0.5762384	total: 19.4s	remaining: 28m 22s
62:	learn: 0.5750415	total: 19.7s	remaining: 28m 24s
63:	learn: 0.5739553	total: 20.1s	remaining: 28m 24s
64:	learn: 0.5730447	total: 20.4s	remaining: 28m 28s
65:	learn: 0.5720481	total: 20.7s	remaining: 28m 24s
66:	learn: 0.5710077	total: 21s	remaining: 28m 21s
67:	learn: 0.5701652	total: 21.3s	remaining: 28m 18s
68:	learn: 0.5694373	total: 21.5s	remaining: 28m 14s
69:	learn: 0.5684876	total: 21.8s	remaining: 28m 9s
70:	learn: 0.5675428	total: 22s	remaining: 28m 5s
71:	learn: 0.5665966	total: 22.3s	remaining: 28m 1s
72:	learn: 0.5654737	total: 22.6s	remaining: 27m 58s
73:	learn: 0.5646459	total: 22.9s	remaining: 27m 56s
74:	learn: 0.5638058	total: 23.1s	remaining: 27m 53s
75:	learn: 0.5629977	total: 23.4s	remaining: 27m 49s
76:	learn: 0.5621050	total: 23.6s	remaining: 27m 45s
77:	learn: 0.5612087	total: 23.9s	remaining: 27m 41s
78:	learn: 0.5604497	total: 24.2s	remaining: 27m 38s
79:	learn: 0.5596784	total: 24.5s	remaining: 27m 37s
80:	learn: 0.5589951	total: 24.8s	remaining: 27m 37s
81:	learn: 0.5582588	total: 25.1s	remaining: 27m 37s
82:	learn: 0.5575967	total: 25.4s	remaining: 27m 35s
83:	learn: 0.5569909	total: 25.7s	remaining: 27m 34s
84:	learn: 0.5561947	total: 26s	remaining: 27m 34s
85:	learn: 0.5552528	total: 26.3s	remaining: 27m 32s
86:	learn: 0.5545024	total: 26.6s	remaining: 27m 35s
87:	learn: 0.5537404	total: 26.9s	remaining: 27m 32s
88:	learn: 0.5531485	total: 27.2s	remaining: 27m 32s
89:	learn: 0.5526318	total: 27.5s	remaining: 27m 30s
90:	learn: 0.5520382	total: 27.8s	remaining: 27m 30s
91:	learn: 0.5514210	total: 28.1s	remaining: 27m 31s
92:	learn: 0.5506847	total: 28.3s	remaining: 27m 26s
93:	learn: 0.5501592	total: 28.6s	remaining: 27m 24s
94:	learn: 0.5495631	total: 28.9s	remaining: 27m 22s
95:	learn: 0.5491081	total: 29.2s	remaining: 27m 21s
96:	learn: 0.5485567	total: 29.4s	remaining: 27m 19s
97:	learn: 0.5479946	total: 29.7s	remaining: 27m 19s
98:	learn: 0.5475106	total: 30.1s	remaining: 27m 20s
99:	learn: 0.5469498	total: 30.3s	remaining: 27m 18s
100:	learn: 0.5462940	total: 30.6s	remaining: 27m 16s
101:	learn: 0.5457738	total: 30.9s	remaining: 27m 14s
102:	learn: 0.5450825	total: 31.2s	remaining: 27m 13s
103:	learn: 0.5446408	total: 31.5s	remaining: 27m 12s
104:	learn: 0.5440923	total: 31.7s	remaining: 27m 11s
105:	learn: 0.5435271	total: 32s	remaining: 27m 9s
106:	learn: 0.5430343	total: 32.4s	remaining: 27m 11s
107:	learn: 0.5424292	total: 32.7s	remaining: 27m 11s
108:	learn: 0.5419679	total: 32.9s	remaining: 27m 9s
109:	learn: 0.5414580	total: 33.2s	remaining: 27m 7s
110:	learn: 0.5408348	total: 33.5s	remaining: 27m 4s
111:	learn: 0.5403759	total: 33.7s	remaining: 27m 2s
112:	learn: 0.5397503	total: 34s	remaining: 26m 59s
113:	learn: 0.5393142	total: 34.2s	remaining: 26m 57s
114:	learn: 0.5387804	total: 34.5s	remaining: 26m 54s
115:	learn: 0.5383079	total: 34.7s	remaining: 26m 52s
116:	learn: 0.5377234	total: 35s	remaining: 26m 49s
117:	learn: 0.5373906	total: 35.2s	remaining: 26m 46s
118:	learn: 0.5369894	total: 35.5s	remaining: 26m 44s
119:	learn: 0.5365130	total: 35.7s	remaining: 26m 42s
120:	learn: 0.5358852	total: 36s	remaining: 26m 40s
121:	learn: 0.5355117	total: 36.3s	remaining: 26m 38s
122:	learn: 0.5350294	total: 36.5s	remaining: 26m 35s
123:	learn: 0.5346455	total: 36.8s	remaining: 26m 33s
124:	learn: 0.5343304	total: 37s	remaining: 26m 31s
125:	learn: 0.5338306	total: 37.3s	remaining: 26m 28s
126:	learn: 0.5332660	total: 37.5s	remaining: 26m 26s
127:	learn: 0.5328697	total: 37.7s	remaining: 26m 24s
128:	learn: 0.5324845	total: 38s	remaining: 26m 22s
129:	learn: 0.5321844	total: 38.3s	remaining: 26m 20s
130:	learn: 0.5318518	total: 38.5s	remaining: 26m 18s
131:	learn: 0.5314464	total: 38.7s	remaining: 26m 15s
132:	learn: 0.5310681	total: 39s	remaining: 26m 13s
133:	learn: 0.5306575	total: 39.2s	remaining: 26m 11s
134:	learn: 0.5302609	total: 39.5s	remaining: 26m 9s
135:	learn: 0.5298130	total: 39.7s	remaining: 26m 7s
136:	learn: 0.5294463	total: 40s	remaining: 26m 6s
137:	learn: 0.5291194	total: 40.3s	remaining: 26m 4s
138:	learn: 0.5288451	total: 40.5s	remaining: 26m 3s
139:	learn: 0.5284645	total: 40.8s	remaining: 26m 1s
140:	learn: 0.5281382	total: 41s	remaining: 25m 59s
141:	learn: 0.5278019	total: 41.3s	remaining: 25m 57s
142:	learn: 0.5274567	total: 41.5s	remaining: 25m 54s
143:	learn: 0.5271428	total: 41.8s	remaining: 25m 52s
144:	learn: 0.5268793	total: 42s	remaining: 25m 51s
145:	learn: 0.5264396	total: 42.3s	remaining: 25m 49s
146:	learn: 0.5261196	total: 42.5s	remaining: 25m 47s
147:	learn: 0.5258821	total: 42.8s	remaining: 25m 47s
148:	learn: 0.5255049	total: 43.1s	remaining: 25m 47s
149:	learn: 0.5251745	total: 43.4s	remaining: 25m 46s
150:	learn: 0.5249233	total: 43.6s	remaining: 25m 46s
151:	learn: 0.5246314	total: 44s	remaining: 25m 48s
152:	learn: 0.5242876	total: 44.3s	remaining: 25m 48s
153:	learn: 0.5239537	total: 44.7s	remaining: 25m 50s
154:	learn: 0.5236619	total: 45s	remaining: 25m 51s

155:	learn: 0.5233986	total: 45.4s	remaining: 25m 55s
156:	learn: 0.5229949	total: 45.8s	remaining: 25m 58s
157:	learn: 0.5226390	total: 46.1s	remaining: 25m 58s
158:	learn: 0.5222239	total: 46.4s	remaining: 25m 57s
159:	learn: 0.5219909	total: 46.6s	remaining: 25m 56s
160:	learn: 0.5216418	total: 46.9s	remaining: 25m 55s
161:	learn: 0.5213298	total: 47.1s	remaining: 25m 53s
162:	learn: 0.5211289	total: 47.4s	remaining: 25m 52s
163:	learn: 0.5208322	total: 47.7s	remaining: 25m 53s
164:	learn: 0.5204645	total: 48s	remaining: 25m 53s
165:	learn: 0.5201918	total: 48.4s	remaining: 25m 54s
166:	learn: 0.5198608	total: 48.7s	remaining: 25m 55s
167:	learn: 0.5196768	total: 49.1s	remaining: 25m 56s
168:	learn: 0.5194666	total: 49.4s	remaining: 25m 58s
169:	learn: 0.5192565	total: 49.7s	remaining: 25m 57s
170:	learn: 0.5190143	total: 50s	remaining: 25m 57s
171:	learn: 0.5187238	total: 50.3s	remaining: 25m 58s
172:	learn: 0.5185250	total: 50.6s	remaining: 25m 59s
173:	learn: 0.5182442	total: 51s	remaining: 26m
174:	learn: 0.5180004	total: 51.3s	remaining: 26m
175:	learn: 0.5177019	total: 51.7s	remaining: 26m 2s
176:	learn: 0.5174653	total: 52s	remaining: 26m 2s
177:	learn: 0.5172215	total: 52.2s	remaining: 26m 1s
178:	learn: 0.5170675	total: 52.6s	remaining: 26m 3s
179:	learn: 0.5168943	total: 52.9s	remaining: 26m 3s
180:	learn: 0.5166250	total: 53.2s	remaining: 26m 3s
181:	learn: 0.5164773	total: 53.5s	remaining: 26m 2s
182:	learn: 0.5162679	total: 53.7s	remaining: 26m 1s
183:	learn: 0.5161273	total: 54s	remaining: 26m
184:	learn: 0.5159334	total: 54.3s	remaining: 25m 59s
185:	learn: 0.5157484	total: 54.5s	remaining: 25m 57s
186:	learn: 0.5155879	total: 54.8s	remaining: 25m 56s
187:	learn: 0.5153769	total: 55s	remaining: 25m 55s
188:	learn: 0.5151756	total: 55.3s	remaining: 25m 54s
189:	learn: 0.5148341	total: 55.6s	remaining: 25m 52s
190:	learn: 0.5147177	total: 55.8s	remaining: 25m 51s
191:	learn: 0.5144480	total: 56.1s	remaining: 25m 50s
192:	learn: 0.5142837	total: 56.3s	remaining: 25m 49s
193:	learn: 0.5140347	total: 56.6s	remaining: 25m 47s
194:	learn: 0.5138499	total: 56.9s	remaining: 25m 46s
195:	learn: 0.5136213	total: 57.1s	remaining: 25m 45s
196:	learn: 0.5133991	total: 57.4s	remaining: 25m 44s
197:	learn: 0.5131658	total: 57.6s	remaining: 25m 43s
198:	learn: 0.5129631	total: 57.9s	remaining: 25m 41s
199:	learn: 0.5126736	total: 58.1s	remaining: 25m 40s
200:	learn: 0.5125134	total: 58.4s	remaining: 25m 39s
201:	learn: 0.5123162	total: 58.7s	remaining: 25m 38s
202:	learn: 0.5121224	total: 58.9s	remaining: 25m 37s
203:	learn: 0.5120069	total: 59.2s	remaining: 25m 36s
204:	learn: 0.5118091	total: 59.4s	remaining: 25m 35s
205:	learn: 0.5116413	total: 59.7s	remaining: 25m 35s
206:	learn: 0.5115261	total: 1m	remaining: 25m 34s
207:	learn: 0.5113355	total: 1m	remaining: 25m 33s
208:	learn: 0.5112249	total: 1m	remaining: 25m 32s
209:	learn: 0.5110797	total: 1m	remaining: 25m 31s
210:	learn: 0.5109154	total: 1m 1s	remaining: 25m 30s
211:	learn: 0.5107972	total: 1m 1s	remaining: 25m 28s
212:	learn: 0.5106471	total: 1m 1s	remaining: 25m 27s
213:	learn: 0.5105170	total: 1m 1s	remaining: 25m 26s
214:	learn: 0.5103055	total: 1m 2s	remaining: 25m 25s
215:	learn: 0.5100926	total: 1m 2s	remaining: 25m 24s
216:	learn: 0.5099606	total: 1m 2s	remaining: 25m 23s
217:	learn: 0.5098134	total: 1m 2s	remaining: 25m 22s
218:	learn: 0.5096579	total: 1m 3s	remaining: 25m 21s
219:	learn: 0.5094744	total: 1m 3s	remaining: 25m 20s
220:	learn: 0.5093513	total: 1m 3s	remaining: 25m 19s
221:	learn: 0.5091452	total: 1m 3s	remaining: 25m 18s
222:	learn: 0.5090159	total: 1m 4s	remaining: 25m 17s
223:	learn: 0.5088191	total: 1m 4s	remaining: 25m 16s
224:	learn: 0.5086846	total: 1m 4s	remaining: 25m 15s
225:	learn: 0.5085286	total: 1m 4s	remaining: 25m 13s
226:	learn: 0.5082911	total: 1m 5s	remaining: 25m 13s
227:	learn: 0.5081741	total: 1m 5s	remaining: 25m 11s
228:	learn: 0.5080303	total: 1m 5s	remaining: 25m 10s
229:	learn: 0.5078833	total: 1m 5s	remaining: 25m 9s
230:	learn: 0.5077507	total: 1m 6s	remaining: 25m 8s
231:	learn: 0.5076417	total: 1m 6s	remaining: 25m 7s
232:	learn: 0.5074635	total: 1m 6s	remaining: 25m 6s
233:	learn: 0.5072595	total: 1m 6s	remaining: 25m 5s
234:	learn: 0.5071109	total: 1m 7s	remaining: 25m 4s
235:	learn: 0.5069641	total: 1m 7s	remaining: 25m 4s
236:	learn: 0.5068499	total: 1m 7s	remaining: 25m 4s
237:	learn: 0.5067063	total: 1m 7s	remaining: 25m 3s
238:	learn: 0.5066022	total: 1m 8s	remaining: 25m 2s
239:	learn: 0.5064686	total: 1m 8s	remaining: 25m 1s
240:	learn: 0.5063294	total: 1m 8s	remaining: 25m
241:	learn: 0.5062158	total: 1m 9s	remaining: 24m 59s
242:	learn: 0.5060551	total: 1m 9s	remaining: 24m 58s
243:	learn: 0.5058864	total: 1m 9s	remaining: 24m 57s
244:	learn: 0.5057605	total: 1m 9s	remaining: 24m 56s
245:	learn: 0.5056673	total: 1m 9s	remaining: 24m 52s
246:	learn: 0.5055526	total: 1m 10s	remaining: 24m 51s
247:	learn: 0.5054578	total: 1m 10s	remaining: 24m 50s
248:	learn: 0.5053347	total: 1m 10s	remaining: 24m 49s
249:	learn: 0.5052414	total: 1m 10s	remaining: 24m 49s
250:	learn: 0.5051142	total: 1m 11s	remaining: 24m 49s
251:	learn: 0.5049371	total: 1m 11s	remaining: 24m 49s
252:	learn: 0.5048261	total: 1m 11s	remaining: 24m 48s
253:	learn: 0.5046690	total: 1m 12s	remaining: 24m 50s
254:	learn: 0.5045526	total: 1m 12s	remaining: 24m 50s
255:	learn: 0.5044236	total: 1m 12s	remaining: 24m 49s
256:	learn: 0.5042867	total: 1m 13s	remaining: 24m 50s
257:	learn: 0.5041659	total: 1m 13s	remaining: 24m 49s
258:	learn: 0.5040230	total: 1m 13s	remaining: 24m 49s
259:	learn: 0.5038896	total: 1m 13s	remaining: 24m 48s
260:	learn: 0.5037707	total: 1m 14s	remaining: 24m 47s
261:	learn: 0.5036633	total: 1m 14s	remaining: 24m 47s
262:	learn: 0.5035082	total: 1m 14s	remaining: 24m 46s
263:	learn: 0.5033795	total: 1m 14s	remaining: 24m 45s
264:	learn: 0.5032985	total: 1m 15s	remaining: 24m 44s
265:	learn: 0.5031914	total: 1m 15s	remaining: 24m 43s
266:	learn: 0.5031243	total: 1m 15s	remaining: 24m 43s
267:	learn: 0.5029766	total: 1m 16s	remaining: 24m 44s
268:	learn: 0.5028706	total: 1m 16s	remaining: 24m 44s
269:	learn: 0.5027016	total: 1m 16s	remaining: 24m 44s

KeyboardInterrupt:

Обучим xgboost на текущих признаках.

In [30]:
param={'objective':'multi:softprob','num_class':4,'n_jobs':4,'seed':42}

In [31]:
%%time
model=xgb.XGBClassifier(**param,n_estimators=300)
model.fit(X_train,y_train)

CPU times: user 4min 10s, sys: 1.21 s, total: 4min 11s
Wall time: 4min 17s

Сделаем предсказание.

In [32]:
pred=model.predict(X_test)

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [33]:
pred

array([0, 2, 3, ..., 2, 2, 3])

На public лидерборде такое предсказание должно дать качество 0.6118.

### Подготовим файл для отправки в систему

In [34]:
submission = pd.DataFrame({'bins': pred}, index=test.client_id)
submission.head()

           bins
client_id
28571         0
27046         2
13240         3
19974         0
10505         1

Сохраняем прогноз на диск в папку submissions. Имя прогноза соответсвует дате и времени его создания, закодированными с помощью timestamp.

In [35]:
import time
import os

current_timestamp = int(time.time())
submission_path = 'submissions/{}.csv'.format(current_timestamp)

if not os.path.exists('submissions'):
    os.makedirs('submissions')

print(submission_path)
submission.to_csv(submission_path, index=True)

submissions/1574086871.csv

Теперь все готово! Можно отправлять решение.