In [1]:
import pandas as pd

In [19]:
transactions_train = pd.read_csv('data/transactions_train.csv')
transactions_test = pd.read_csv('data/transactions_test.csv')

transactions_train['is_train'] = 1
transactions_test['is_train'] = 0

transactions = pd.concat([transactions_train, transactions_test], axis=0, sort=True)

In [20]:
train = pd.read_csv('data/train_target.csv')
test = pd.read_csv('data/test.csv')

In [21]:
transactions.head(5)

   amount_rur  client_id  is_train  small_group  trans_date
0      71.463      33172         1            4           6
1      45.017      33172         1           35           6
2      13.887      33172         1           11           8
3      15.983      33172         1           11           9
4      21.341      33172         1           11          10

In [13]:
agg_features_test=transactions_test.groupby('client_id')['amount_rur'].agg(['sum', 'mean', 'std', 'min', 'max', 'median']).reset_index()

NameError: name 'transactions_test' is not defined

In [ ]:
train=pd.merge(train_target,agg_features,on='client_id')